@{
    ViewData["Title"] = "İletişim Bilgileri";
}

<div class="text-center">
    <br />
    <br />
    <h2 style="color: purple">@ViewData["Title"]</h2>

    <br />
    <br />
    <h3>Kordon Sokak</h3>
    <h3>Alsancak İzmir</h3>
    <br />
    <h3>E-posta adresimiz:</h3>
    <h3><a href="mailto:yta.iletisim@gmail.com">berke.iletisim@gmail.com</a></h3>

    <div>

        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d55616.202686891054!2d27.140323413485675!3d38.40215993862328!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14bbd85b1ee6cb8d%3A0x6a9bc8cd5752e270!2sKordon%20Alsancak%20Izmir!5e0!3m2!1str!2str!4v1698355719505!5m2!1str!2str" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</div>
